@charset "UTF-8"


@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Shadows+Into+Light&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Shadows+Into+Light&family=Sriracha&display=swap');

:root {
    --fonteone: verdana, Geneva, tahoma, sans-serif;
    --fonttwo: 'Passion One', cursive;
    --fontthree:'Sriracha', cursive;
}
* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonteone);
}

header {
    background-color: black;
    color: white;
    text-align: center;  
    
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonttwo);
    font-size: 4em;
}

header > p {
    padding-bottom: 50px;
    

}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fontthree);
    font-size: 2em;

}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;

}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.244);
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.258);
    width: 400px;
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.132);

}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;

}

section#img02 {
    background-image:url('../imagens/background002.jpg') ;
    background-size: cover;
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;

}